<div class='new-post'>
    <form class="create-post">
      <fieldset>
          {{view Ember.TextField valueBinding="postTitle"}}
        <!-- etc. etc. -->
      </fieldset>
    </form>
    <a class="btn btn-primary" {{action "something"}}>Create Post</a>
    {{ controller }}
</div>