{{view App.PostsNewView}}

<hr>
<div class='posts'>
  {{#each post in controller}}
    {{ render 'post' post }}
    {{#linkTo 'post' post}}View Post{{/linkTo}}
  <hr>
  {{else}}
    <h3>No posts to show you...</h3>
  {{/each}}
</div>