<div class='posts'>
  {{#each post in controller}}
  <div class='post'>
    <h2>{{ post.title }}</h2>
    <div class='body'>{{{ post.body }}}</div>
    {{#linkTo "post" post}} View Post {{/linkTo}}
  </div>
  <hr>
  {{else}}
    <h3>No posts to show you...</h3>
  {{/each}}
</div>